html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body { 
    overflow-x: hidden;
}
header {
    height: 955px;
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 1s;
}
header .topbar {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    z-index: 1;
}
nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li:hover {
    background: rgba(0, 0, 0, 0.35);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
nav ul li {
    display: inline;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 17px;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
}
#sobre {
    height: 955px;
    background: url("../images/sobre.svg") no-repeat;
    background-position: 50vw 10vh;
    background-size: 900px;
    box-sizing: border-box;
    padding: 20px;
}
#sobre #sobre-cont {
    width: 35%;
}
#sobre h2, #servicos h2, #portfolio h2, #contato h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #6051C7;    
    font-weight: 400;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.icons img {
    margin-left: 25px;
}
#servicos {
    height: 955px;
    box-sizing: border-box;
    padding: 20px;
}
#servicos h2 {
    text-align: center;
    width: 100%;
}
#servicos #conteudo {
    display: flex;
    flex-wrap: wrap;
}
.skills {
    width: 33%;
    box-sizing: border-box;
    padding: 40px;
}
.skills img {
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}
.logo img {
    margin-top: 90px;
    margin-left: 25px;
}
#arrow-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#arrow-top img:hover {
    fill="#6051C7"
}
.top-color {
    background-color: #6051C7 !important;
    opacity: 0.9;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
#portfolio {
    height: 955px;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}
#portfolio h2 {
    text-align: center;
    width: 100%;
}
#portfolio #conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#portfolio #conteudo #arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    margin-top: 12%;
    z-index: 1;
}
#portfolio #conteudo #arrows img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 50%;
}
#portfolio #conteudo #arrows img:hover {
    height: 40px;
    width: 40px;
    background: #bdc3c7;
    border-radius: 50%;
    padding: 10px;
}
#portfolio #conteudo #arrows span:first-child {
    transform: rotate(180deg);
    margin-left: 200px;
}
#portfolio #conteudo #arrows span:last-child {
    margin-right: 200px;
}
#portfolio #banner-portfolio {
    width: 100%;
    max-width: 930px;
    height: auto;
}
#portfolio h3 {
    margin: 30px 0;
}
#slidershow {
    display: flex;
    width: 100%;
}
#portfolio #slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    transition: all 1s;
}
#slide:nth-child(1) {
    left: 0;    
}
#slide:nth-child(2) { 
    left: 1920px;
}
#slide:nth-child(3) {
    left: calc(1920px * 2);
}
#slide:nth-child(4) { 
    left: calc(1920px * 3);
}
#contato h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#contato {
    height: 955px;
    padding: 20px;
}
#formulario {
    display: flex;
    justify-content: center;
}
#contato input[type=text], input[type=email]  {
    width: 80%;
    padding: 10px;
}
#contato input[name=text] {
    width: 100%;
}
#contato input[type=submit] {
    width: 100%;
}
#contato form {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}
@media(max-width: 1680px) {
    header {
        height: 710px
    }
}
@media(max-width: 1440px) {
    header {
        height: 595px;
    }
}
@media(max-width: 1200px) {
    header {
        height: 400px;
    }
}
@media(max-width: 900px) {
    header {
        height: 350px;
    }
}
@media(max-width: 770px) {
    header {
        height: 245px;
    }
}